[submodule "awesome/lain"]
	path = awesome/lain
	url = git@github.com:copycat-killer/lain.git
[submodule "awesome/vicious-fbsd"]
	path = awesome/vicious-fbsd
	url = git@github.com:sarumont/vicious-fbsd
[submodule ".emacs.d/third-party/Emacs-D-Mode"]
	path = .emacs.d/third-party/Emacs-D-Mode
	url = https://github.com/Emacs-D-Mode-Maintainers/Emacs-D-Mode.git
[submodule ".emacs.d/third-party/icicles"]
	path = .emacs.d/third-party/icicles
	url = git@github.com:emacsmirror/icicles.git
[submodule ".emacs.d/third-party/helm"]
	path = .emacs.d/third-party/helm
	url = git@github.com:emacs-helm/helm.git
[submodule ".emacs.d/third-party/emacs-async"]
	path = .emacs.d/third-party/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule ".emacs.d/third-party/flycheck"]
	path = .emacs.d/third-party/flycheck
	url = git@github.com:flycheck/flycheck.git
